<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs') %>

<body>

    <%- include ('./partials/navGuru.ejs') %>

    <div class="container flex flex-j-c flex-a-c margin-top-50 m-l-200 flex-col-dir"> 

        <div class="backbutton w-80">

            <a class=" warning-btn" href="/kelas/kelola"><i class="fa fa-arrow-left"></i> Kembali</a>

        </div>

        <div class="inside-wrapper flex flex-col-dir flex-j-c flex-a-c">  

            <h1 class="w-100 text-start m-u-d-20"> <i class="fa fa-edit"></i> Input Nilai :</h1>

            <div class="text-start w-100">

                <p>Informasi Siswa : </p>

            </div>

            <% result.forEach(h=>{ %>

                <table class="infotable m-u-d-20 bordered">

                    <tr class="bg-subtle">

                        <td>NIS</td>

                        <td>Nama Lengkap Siswa</td>

                        <td>Kelas</td>

                    </tr>

                    <tr>

                        <th><%= h.nis %></th>

                        <th><%= h.nama_siswa %></th>

                        <th><%= h.nama_kelas %></th>

                    </tr>      

                </table>

            <%})%>

                <div class="text-start w-100">

                    <p>Nilai Rapor : </p>

                </div>

                <table class="bordered m-u-d-20 infotable">

                <form action="/siswa/insertNilai" method="POST">

                    <tr class="bordered">

                        <th>No</th>

                        <th>Mata Pelajaran</th>

                        <th>KKM</th>

                        <th class="w-40" >Nilai</th>

                    </tr>

                    <tr>
                        <td>1</td>

                        <td>Matematika</td>

                        <td>70</td>
                        
                        <td class="w-40" ><input class="input-control m-u-d-20 bordered w-100 " type="number" min="0" max="100" name="nilai_mtk" placeholder="Nilai (0-100)" required></td>
                        
                    </tr>

                    <tr>

                        <td>2</td>

                        <td>Olahraga</td>

                        <td>70</td>

                        <td class="w-40"><input class="input-control m-u-d-20 bordered w-100" type="number" min="0" max="100" name="nilai_olahraga" placeholder="Nilai (0-100)" required></td>

                    </tr>

                    <input type="hidden" name="id_rapor" value="<%= result[0].id_rapor %> ">

                </table>

                <input class="btn primary-btn m-u-d-10" type="submit" value="Simpan & Selesai">

                </form>

        </div>

    </div>

</body>
</html>