<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>

    <%- include ('./partials/navGuru.ejs') %>

    <div class="container flex flex-j-c flex-a-c margin-top-20 m-l-200 "> 

        <div class="inside-wrapper flex flex-col-dir flex-j-c flex-a-c"> 
            
            <% hasil.forEach(h=>{ %>

                <div class="heading text-start w-100 m-u-d-20">

                    <h1><i class="fa fa-list"></i> Pengelolaan Kelas : </h1>

                </div>

                <div class="w-100 text-start">

                    <p>Informasi Kelas & Wali Kelas :</p>

                </div>

                <table class="infotable m-u-d-20 bordered">

                    <tr class="bg-white bordered"> 

                        <th>Kelas</th>

                        <th>Wali Kelas</th>

                        <th>NIP</th>

                        <th>Tahun Ajaran</th>

                    </tr>

                    <tr>

                        <td><%= h.nama_kelas %></td>

                        <td><%= h.nama_guru %></td>

                        <td><%= h.nip %> </td>

                        <td>(2022/2023)</td>

                    </tr>      

                </table>

            <%})%>

            <% if(hasilSiswa.length > 0 ) { %> 

                <div class="words m-u-d-20 flex flex-a-c flex-j-b w-100">

                    <p>Daftar Siswa :</p>
    
                    <p>Jumlah Siswa : <%= hasilSiswa.length %> </p>
    
                </div>

                <table class="siswatable bordered">

                    <tr>

                        <th>No</th>

                        <th>NIS</th>

                        <th>Nama Siswa</th>

                        <th>Action</th>

                    </tr>

                    <% let i = 1; %> 

                    <% hasilSiswa.forEach(siswa=>{%> 

                        <tr>

                            <td><%= i++ %> </td>

                            <td><%= siswa.nis %></td>

                            <td><%= siswa.nama_siswa %></td>

                            <% if(siswa.hasNilai === 0){ %>

                                <td>

                                    <a class="primary tdec" href="/siswa/addNilai/<%= siswa.id_siswa %>">Input Nilai</a>

                                </td>

                            <% } else { %>
                                
                                <td class="disabled" >Siswa Telah Dinilai <i class="fa fa-check"></i></td>
                                
                            <% } %>   

                        </tr>
                    
                    <%  })  %>   

                </table>
            
            <% } else {%>


                <div class="picture">

                    <img class=" h-w-200" src="/assets/problem-solving.png" alt="">

                </div>
                            
                <h1>Belum ada siswa yang terdaftar.</h1>
        
            <% } %> 
            
            <a class="primary-btn m-u-d-20" href="/kelas/addsiswa">Tambah Data Siswa <i class="fa fa-plus m-l-r-10"></i> </a>

        </div>

    </div>

</body>
</html>